/* Setter bakgrunnsfarge*/
body {
        background: #282b30;
     }


a {
        text-align: none;
        color:black;

}

/*  lager en knapp som en svart blokk*/
.btn{
        background-color: black;
        display: inline-block;
}


/*  Senterer tekst*/
.center {
        text-align: center;
}

/* Lager en blokk for knappen */
.block {
        display: block;
        width: 60%;
        border: none;
        background-color: grey;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: auto;
      }

/* roterer et html element 180 grader */
.rotated {
        transform: rotate(180deg); /* Equal to rotateZ(45deg) */
        background-color: none;
      }
