body{                                                                                        body {
        background: #282b30;
        color: lightgrey;
     }

a {
        text-align: none;
        color:black;

}

.btn{
        background-color: black;
        display: inline-block;
}

.btn:hover {
        color: black;
}

.btn:hover > a {
        color: black;
}


.center {
        text-align: center;
}

.block {
        display: block;
        width: 60%;
        border: none;
        background-color: grey;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: auto;
      }
.rotated {
        transform: rotate(180deg); /* Equal to rotateZ(45deg) */
        background-color: none;
      }
